# Astro
.astro/
dist/

# Dependencies
node_modules/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Engine Data (Crawled contents)
engine/data/
